* {
  box-sizing: border-box;
}
#__next {
  display: grid;
  grid-template-columns: 1fr 300px;
  margin: auto;
  max-width: 900px;
}

#__next nav {
  grid-column: 1/-1;
  background-color: lightblue;
  width: 100%;
  padding: 1rem;
}

.Home {
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  gap: 1rem;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
